<%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%=link_to '宿泊施設の投稿',  new_tweet_path, class:"tweet-btn" %>
      <%=link_to '観光スポットの投稿',  new_trip_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>