<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmark.each do |bookmark| %>
      <tr>
        <td><%= bookmark.trip.user.name %></td>
        <td>
          <%= link_to trip_path(bookmark.trip) do %>
            <%= bookmark.trip.post_title %>
          <% end %>
        </td>
        <td><%= bookmark.trip.images %></td>
      </tr>
    <% end %>
  </tbody>
</table>